[MAIN]

# Add files or directories matching the regex patterns to the ignore-list. The
# regex matches against paths and can be in Posix or Windows format.
ignore-paths=docs/.*

# Pickle collected data for later comparisons.
persistent=yes

# Minimum supported python version
py-version = 3.8

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=
    pylint.extensions.docparams,
    pylint.extensions.check_elif,
    pylint.extensions.bad_builtin,
    pylint.extensions.for_any_all,
    pylint.extensions.set_membership,
    pylint.extensions.code_style,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.typing,
    pylint.extensions.redefined_variable_type,
    pylint.extensions.comparison_placement,

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_

# Bad variable names which should always be refused, separated by a comma
bad-names=foo,bar,baz,toto,tutu,tata


# Include a hint for the correct naming format with invalid-name
include-naming-hint=yes

# Naming style matching correct function names.
function-naming-style=snake_case

# Naming style matching correct module names.
module-naming-style=snake_case

# Naming style matching correct method names.
method-naming-style=snake_case


[MESSAGES CONTROL]
disable=logging-fstring-interpolation
